/* CTA */

#cta {
	background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("images/light-tl.svg"), url("images/light-tr.svg"), url("images/overlay.png"), url("../img/the-machine-blured.jpg");
	background-position: top left, top right, top left, bottom center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: 25em, 25em, auto, cover;
	color: white;
	padding: 5em;
	text-align: center;
	header {
		margin-bottom: 2em;
	}
}