/* Footer */

#footer {
  background: #e8eef4;
  color: #7c8081;
  padding: 5em 5em 10em 5em;
  text-align: center;
  .copyright {
    font-size: 0.8em;
    a {
      color: inherit;
    }
    img {
      margin-top: 2em;
    }
  }
}