/* Wrapper */

.wrapper {
	margin-bottom: 5em;
	padding: 5em;
	&.style1 {
		padding: 0;
	}
	&.style2 {
		background-color: #83d3c9;
		background-image: url("images/light-bl.svg"), url("images/light-br.svg");
		background-position: bottom left, bottom right;
		background-repeat: no-repeat, no-repeat;
		background-size: 25em, 25em;
		color: white;
		.button {
			&:hover {
				background: rgba(255, 255, 255, 0.15) !important;
			}
			&.special {
				background: white;
				border-color: white;
				color: #83d3c9 !important;
				&:hover {
					border-color: inherit !important;
					color: white !important;
				}
			}
		}
	}
	&.style3 {
		background: white;
		color: inherit;
	}
	&.style4 {
		background: white;
		color: inherit;
		padding: 4em;
	}
}