<footer class="schools">
  

<div class="container footer-schools">
  <h5>P2PU Schools:</h5>
  <div class="row-fluid center-content">
  <div class="span12">
  
    <div class="school-small-icon school-of-social-innovation-small-icon">
      <a href="/en/schools/school-of-social-innovation/" title="School of Social Innovation">
        
          <img src="https://p2pu.org/media/images/schools/1/e84b64b553a5573b47e90aacf5a81da7_1.png" width="41" height="50" alt="School of Social Innovation"/>
        
        <p>SOCIAL INNOVATION</p>
      </a>
    </div>
  
    <div class="school-small-icon school-of-the-mathematical-future-small-icon">
      <a href="/en/schools/school-of-the-mathematical-future/" title="School of the Mathematical Future">
        
          <img src="https://p2pu.org/media/images/schools/1/0bcfff4d1ca81d89b4073cf35a3c0a67_1.png" width="41" height="50" alt="School of the Mathematical Future"/>
        
        <p>MATHEMATICAL FUTURE</p>
      </a>
    </div>
  
    <div class="school-small-icon school-of-webcraft-small-icon">
      <a href="/en/schools/school-of-webcraft/" title="School of Webcraft">
        
          <img src="https://p2pu.org/media/images/schools/1/d95659e3e004c1ae60baf02b00b5cd9c_1.png" width="41" height="50" alt="School of Webcraft"/>
        
        <p>WEBCRAFT</p>
      </a>
    </div>
  
    <div class="school-small-icon school-of-ed-pilot-small-icon">
      <a href="/en/schools/school-of-ed-pilot/" title="School of Ed">
        
          <img src="https://p2pu.org/media/images/schools/1/1158ea7f5709376a7cb4a6bae056f49b_1.png" width="41" height="50" alt="School of Ed"/>
        
        <p>SCHOOL OF EDUCATION</p>
      </a>
    </div>
  
    <div class="school-small-icon school-of-open-small-icon">
      <a href="/en/schools/school-of-open/" title="School of Open">
        
          <img src="https://p2pu.org/media/images/schools/1/8450ec21dc912ed68b96d4839e3cd362_1.png" width="41" height="50" alt="School of Open"/>
        
        <p>SCHOOL OF OPEN</p>
      </a>
    </div>
  
  </div>
  </div>
</div>

</footer>

<footer>
  <div class="container">
    <div class="custom-footer">
	  <div class="row-fluid">
	    <div class="span12">
          <div class="span4">
            <h1>What is P2PU?</h1>
            <p>The Peer 2 Peer University is a grassroots open education project that organizes learning outside of institutional walls and gives learners recognition for their achievements. P2PU creates a model for lifelong learning alongside traditional formal higher education. Leveraging the internet and educational materials openly available online, P2PU enables high-quality low-cost education opportunities.</p>
          </div>
		  <div class="span4">  
            <h1>Connect With Us</h1>
            <ul class="connect-links">
              <hr />
			  <li><a href="http://www.facebook.com/P2PUniversity" target="_blank">Facebook<img src="https://p2pu.org/static/images/facebook-new.png" width="9px" height="16px" alt="F" /></a></li>
			  <hr />
		      <li><a href="http://twitter.com/p2pu" target="_blank">Twitter<img src="https://p2pu.org/static/images/twitter-new.png" width="19px" height="16px" alt="T" /></a></li>
			  <hr />
		      <li><a href="http://info.p2pu.org/get-involved/" target="_blank">Get Involved</a></li>
			  <hr />
              <li><a href="http://info.p2pu.org/" target="_blank">Blog</a></li>
			  <hr />
              <li><a href="http://info.p2pu.org/contact/" target="_blank">Send us an email</a></li>
            </ul>
          </div>
	      <div class="span4">
            <h1>Some of Our Supporters</h1>
            <a href="http://www.hewlett.org/" target="_blank"><img class="supporter-image" src="https://p2pu.org/static/images/footer-hewlett.png" height="64" width="353" alt="William and Flora Hewlett Foundation"></a>
            <a href="http://www.shuttleworthfoundation.org/" target="_blank"><img class="supporter-image" src="https://p2pu.org/static/images/footer-shuttleworth.png" height="64" width="353" alt="Shuttleworth Foundation"></a>
		    <a class="align-supporter-link-right" href="http://info.p2pu.org/about/org/" target="_blank">View all of our supporters</a>
		  </div>
	    </div>
	  </div>
	  <hr />
	  <div class="row-fluid">
	    <div class="span12">
		  <div class="span4">
			<div class="language-box">
			  <table class="table">
				<tbody>
				  <tr>
						<td>
						  <img src="https://p2pu.org/static/images/globe-icon-new.png" height="22px" width="20px" alt="globe icon">
						</td>
						<td>
		          <ul>
                  <li><a href="/en/">English</a></li>
			            <li><a href="/nl/">Nederlands</a></li>
			            <li><a href="/zh-CN/">中文</a></li>
		          </ul>
		          <ul>
                  <li><a href="/es/">Español</a></li>
                  <li><a href="/sv/">Svenska</a></li>
                  <li><a href="/he/">עברית</a></li>
		          </ul>
              <ul>
                  <li><a href="/ko/">한국의</a></li>
                  <li><a href="https://github.com/p2pu/lernanta/wiki/Translating-Lernanta">(more)</a></li>
              </ul>
						</td>
				  </tr>
				</tbody>
			  </table>
			</div>
		  </div>
		  <div class="span6">
			<div class="info-links-box">
	          <ul>
	            <li><a href="http://help.p2pu.org"><span>Help</span></a></li>
	            <li><a href="http://info.p2pu.org/about/" target="_blank">About P2PU</a></li>
	            <li><a href="http://groups.google.com/group/p2pu-announce" target="_blank">Announcements</a></li>
	            <li><a href="http://wiki.p2pu.org" target="_blank">Wiki</a></li>
	            <li><a href="http://help.p2pu.org/discussions/problems#new_topic_form" target="_blank">Found a Bug?</a></li>
	          </ul>
			  <ul>
			    <li><a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license" target="_blank">Creative Commons</a></li>
                <li><a href="/en/pages/license/">Share-Alike</a></li>
                <li><a href="/en/pages/privacy/">Privacy Guidelines</a></li>
                <li><a href="/en/pages/terms-of-use/">Terms of Use</a></li>
              </ul>
            </div>
		  </div>
		  <div class="span2 pull-right">
		    <img class="cc-icons-image" src="https://p2pu.org/static/images/cc-icons.png" height="44" width="162" alt="CC Icons" />
		  </div>
	    </div>
	  </div>
    </div>
  </div>
</footer>
