<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="http://thepeople.p2pu.org/"><i class="fa fa-weixin"></i></a>
			</li>
			<li><a target="_blank" href="https://twitter.com/p2pu"><i class="fa fa-twitter"></i></a>
			</li>
			<li><a target="_blank" href="https://www.facebook.com/P2PUniversity"><i class="fa fa-facebook"></i></a></li>
			<li><a target="_blank" href="https://github.com/p2pu/writing-for-change">
				<i class="fa fa-github"></i></a></li>
		</ul>

		<hr>
		<div class="col-md-4 first">
			<h4>What is P2PU?</h4>

			<p>
				The Peer 2 Peer University is a grassroots open education project that organizes learning
				outside of institutional walls and gives learners recognition for their achievements. P2PU
				creates a model for lifelong learning alongside traditional formal higher education.
				Leveraging the internet and educational materials openly available online, P2PU enables
				high-quality low-cost education opportunities.
			</p>

		</div>

		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{ site.baseurl }}/img/cc-icons.png" alt="CC-BY-SA Icon" />
			<p>
				Unless otherwise noted, all the documentation on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license. <br>
				All the code licensed under <a href="https://github.com/ercchy/p2pu-css-framework/blob/gh-pages/LICENSE">MIT</a>.
			</p>
		</div>

	</div>

</footer>
