---
layout: base
---

<div class="container">
<div class="row">
  <div class="sidebar col-lg-4">
    <img src="{{site.baseurl}}{{site.data.course.image}}">
    <ul class="nav nav-list">
    {% for subpage in site.categories.content reversed %}
      <li class="{% if subpage.title == page.title %}active{% endif %}" > <a href="{{site.baseurl}}{{ subpage.url }}">{{subpage.title}}</a></li>
    {% endfor %}
    </ul>
  </div>

  <div class="content col-lg-8">
    {{ content }}
  </div>

</div>
</div>
